body {
  font-family: 'Courier New', Courier, monospace;
  height: 100vh;
  margin: 0;
  display: flex;
  flex-direction: column;
}

.header {
  height: 375px;
  background: #1F2937;
  color: white;
}

.top-container {
  display:flex;
  justify-content:space-between;


}

.links {
  display:flex;
  flex-direction:row;
  gap: 35px;
  margin-right: 400px;
}
.left{
  margin-left: 10px;
  font-weight: bolder;
  height: 80px;
  width: 80px;
  gap: 10px;

}

.bottom-container {
  display: flex;
  justify-content:space-between;
  padding-right: 150px;
  padding-left: 155px;
  width:fit-content;
  gap: 75px;
}

ul{
  list-style-type:none;

}

a {
  text-decoration: none;
  color: #E5E7EB;
  font-size: 18px;
}

.column {
  width: 350px;
  margin-left: 300px;
}
.mid-text {
  display:flex;
  flex-wrap:wrap;
}
.logo {

  height:75%;
  width: 75%;
  margin: 0;
  padding: 0;

}
img {
  width: 120px;
  height: 120px;
  border-radius: 5px;

}


.top-text {
  font-size: 48px;
  font-weight:bolder;
  color:#F9FAF8;
  width: 1000px;
 }

 .body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 1;

}

.random-info {
  font-size:36px;
  font-weight:bolder;
  display: flex;
  justify-content:center;
  margin-top: 15px;
  color: #1F2937;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.picture-chain {
  display:flex;
  flex-direction: row;
  justify-content:center;
  padding: 24px;
  gap: 65px;

}

.quote {
  background: #E5E7EB;
  height: 175px;
  display: flex;
  justify-content: center;
  align-items:center;
  flex-wrap: wrap;
  font-size: 36px;
  font-style: italic;
  color: #1F2937;

}

.modal {
  display: flex;
  justify-content:center;
  align-items:center;
  height: 150px;
  color:white;
  font-family: 'Courier New', Courier, monospace;


}

.footer {
  display:flex;
  justify-content:center;
  align-items: center;
  background:#1F2937;
  height: 50px;
}

.text {
  color: black;
  display:flex;
  flex-wrap:wrap;
  justify-content: center;
  align-items: center;
  width: 150px;
  margin-left: 0px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.text1 {
  color:white;
}
.box{
  background-color: #3882f6;
  height: 85px;
  width: 780px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items:center;
  gap: 300px;
}

.button {
  color:white;
}


.quote-text{
  display: :flex;
  justify-content: center;
  flex-wrap: wrap;
  font-size: 36px;
  font-family: italic;
  color:#1F2937;
  width: 700px;
}


button {
  background-color: #3882F6;
  border-radius: 5px;
  color: white;
  border-color: white;
  width: 100px;
  height: 30px;
  margin-top: 7px;


}

.image {
  width: 450px;
  height:225px;
  border-radius: 10px;
  margin-left: 125px;
}

.mid-points {
  border: 5px solid #1F2937;

}
.top{
  height:250px;
}

.left{
  margin-left: 130px;

}

.easy {
  color: #FFD700;
}

.sign-up {
  border: #3882f6;
}

.quote-author {
  display: flex;
  justify-content:flex-end;
  color: #1F2937;
  font-weight:bolder;
}

.Call {
  font-weight: bolder;
}

.call1 {
  color: white;
  font-family:  Arial, sans-serif;
}

.pic {
  height: 100px;
  margin-left: 300px;
}